body { background: #FFECE3;
	text-align: center;
}

.element h1 { 
	animation: pulse 6s infinite;
	font-family: 'Handlee', cursive;
	font-size: 165px; 
	line-height: 160px; 
	font-weight: normal; 
	margin-bottom: 30px; 
	margin-top: 40px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}
@keyframes pulse {
  0% {
	font-color: #1F5FA3;
  }
  100% {
	font-color: #9900CC;
  }
}

.typewriter h3 { 
	color: #2CA4B0; 
	font-family: 'Handlee', cursive;
	overflow: hidden;
	white-space: nowrap;
	border-right: .10em solid #2CA4B0;
	font-size: 24px; 
	font-weight: normal; 
	line-height: 32px; 
	margin: 0 auto; 
	text-align: center; 
	text-shadow: 1px 0 0 #fff;
	animation: typing 3s steps(35), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #2CA4B0 }
}

p {
	color: #2CA4B0;
	font-family: 'ABeeZee', sans-serif;
	font-size: 15px;
}
