h1 { 
	color: #1F5FA3; 
	font-family: 'Handlee', cursive;
	font-size: 165px; 
	line-height: 160px; 
	font-weight: normal; 
	margin-bottom: 30px; 
	margin-top: 40px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

h3 { 
	color: #2CA4B0; 
	font-family: 'Handlee', cursive;
	font-size: 24px; 
	font-weight: normal; 
	line-height: 32px; 
	margin: 0 0 18px; 
	text-align: center; 
	text-shadow: 1px 0 0 #fff; 
}

p {
	color: #2CA4B0;
	font-family: 'ABeeZee', sans-serif;
	font-size: 15px;
}
