body	{
	background: #F3C1F7;
}

h1 {
	text-align: center;
	width: 50%;
	border: 20px #C5F7C1 solid;
	padding: 40px;
	margin: 0 auto;
}

table {
	text-align: center;
	width: 50%;
	padding: 40px;
	margin: 10px auto;
}

td:hover {
	background-color: rosybrown;
}

tr:nth-of-type(2) td{
	text-align: center;
	padding: 80px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

td:nth-of-type(2) {
	text-align: center;
	padding: 80px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}



