body	{
	background: #BADCE8;
	border: 20px #43636E solid
}

h1	{
	font-family: Indie Flower;
	font-size: 40px;
	width: 50%;
	text-align: center;
	text-decoration: underline;
}

h4 {
	font-family: Chewy;
	font-size: 18px;
	width: 25%;
	color: #1A02F0;
	margin-left: 30px;
	text-transform: uppercase; 
}

p {
	font-family: Snippet;
	font-size: 23px;
	font-weight: 20;
	color: #E8571E;
	width: 85%;
	padding-bottom: 20px;
	margin-left: 30px;
}

div p:nth-of-type(1) {
	margin-left: 100px;
	border-left: black 5px dashed;
	padding: 20px;
	text-indent: 50px;
	font-family: Bonbon;
}

div:nth-of-type(2) {
	border-top: 5px coral dashed;
}

table {
	border: 10px solid pink;
	border-collapse: collapse;
	text-align: center;
	width: 75%;
	height: 50px;
	margin: 50px 30px 50px 10px;
}

thead	{
	background: #D4A190;
	color: crimson;
}

th, td {
	padding: 15px;
	border-bottom: 3px black solid;
}

img	{
	width: 80px;
	float: center;
}

tr:hover {
	background-color: tomato;
}